.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chInfo{
    background-color: #fecf16;
    margin: 10px;
    padding: 10px;
    font-family: 'Short Stack', cursive;
    font-size: 18px;  
}

.chInfo:hover{
    transition: box-shadow 0.3s;
    box-shadow: 0 0 20px #888888
}

.paginationButton{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 60px;
    margin-left: -40px;
}

.paginationButton a {
    padding: 10px;
    margin: 6px;
    border: 2px solid #fecf16;;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Short Stack', cursive;
  
}

.paginationAcitve a{
    background-color: #fecf16;;
    color: white;
    font-family: 'Short Stack', cursive;
}

.disabledButton a{
    background-color: white;
    color: grey;
    border: 2px solid grey;
    cursor: default;
    font-family: 'Short Stack', cursive;
}

.previousButton:hover{
    background-color: #fecf16;;
    color: white;
    transition: 0.3s ease;
    font-family: 'Short Stack', cursive;
}

.nextButton:hover{
    background-color: #fecf16;;
    color: white;
    transition: 0.3s ease;
    font-family: 'Short Stack', cursive;
}

.divBIO{
    margin: auto;
    margin-bottom: 10px;
}

.BIO{
    color: white;
    text-decoration: none;
    background-color: #5200cc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px 8px 20px;
}

.BIO:hover{
    background-color: #360086;
    transition: 0.3s ease;
}