h1{
    text-align: center;
}

.content{
    font-family: 'Short Stack', cursive;
    background-color: #fecf16;
    margin: 20px;
    padding: 30px;
}

.containerCh{
    background-color: white;
    height: 80vh;
    margin: 0 15vw 0 15vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
}

.img{
  margin: 15px 0 0 15px;
}

.back{
    color: white;
    text-decoration: none;
    background-color: #5200cc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px 0 20px;
}

.back:hover{
    background-color: #360086;
    transition: 0.3s ease;
}